@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "MonumentExtended";
	src: url("assets/fonts/MonumentExtended-Ultrabold.otf");
	font-style: normal;
}

@font-face {
	font-family: "MonumentRegular";
	src: url("assets/fonts/MonumentExtended-Regular.otf");
	font-style: normal;
}

@font-face {
	font-family: "Roobert";
	src: url("assets/fonts/Roobert-Regular.ttf");
	font-style: normal;
}

html,
body {
	scroll-behavior: smooth;
	user-select: none;
}

.text-11 {
	transform: translateZ(0px);
	transform: rotate(4deg);
}

.text-11:hover {
	transform: rotate(0deg);
}

/* @keyframes rotate-more {
	0% {
		transform: rotate(10deg) translateY(10px);
	}
	10% {
		transform: rotate(30deg) translateY(20px);
	}
	30% {
		transform: rotate(60deg) translateY(30px);
	}
	50% {
		transform: rotate(-60deg) translateY(10px);
	}
	100% {
		transform: rotate(0deg) translateY(0px);
	}
} */

.stroke-text22 {
	-webkit-text-stroke: 2px #0d0d0d;
	-webkit-text-fill-color: transparent;
}

.animate {
	transform: translate3d(-136.981vw, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
	will-change: transform;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
	scroll-behavior: smooth;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
